.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  overflow-y: scroll;

  &__logosection {
    text-align: center;
    padding: 20px 0 40px 0;
    background: #fff;
  }

  &__logo {
    max-height: 2.5rem;
  }
}

.metismenu::after {
  box-shadow: none;
}

.metismenu {
  box-shadow: none;
  width: 270px;
  background: #fff;

  &-link {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.4);
  }

  &-link:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

  }

  &-link.active {
    background: #fff;
    color: black;
    border-left: 2px solid #5e72e4;
  }

  &-link.has-active-child {
    color: rgba(0, 0, 0, 0.7);
  }

  &-container .metismenu-container {
    box-shadow: none;
    padding: 0;
  }
}